body{
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.main{
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}